* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0 0 0);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: rgb(0 0 0);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(148, 148, 250);
  font-size: 1.04rem;
}

.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 90px 0;
}

.firstSection > div {
  width: 44%;
}

.leftSection {
  font-size: 1.9rem;
  margin-left: 60px;
}
.leftSection .buttons {
  padding: 50px 0;
}
.leftSection .btn {
  padding: 13px 9px;
  font-size: 15px;
  font-family: cursive;
  color: black;
  background-color: white;
  border: none;
  border-radius: 43px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.leftSection .btn:hover {
  animation: bounce 0.6s infinite alternate;
}

.leftSection .btn:active::after {
  transform: translate(-50%, -50%) scale(1);
  transition: 0s;
}
@keyframes bounce {
  to {
    transform: translateY(-5px);
  }
}

.rightSection {
  width: 500px;
}

.purple {
  color: rgb(148, 67, 224);
}

.text-gray {
  color: gray;
}

#element {
  color: rgb(148, 67, 224);
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  margin-top: 20px;
  height: 122vh;
}

#workExperience {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#workExperience::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbmpoNHJkYm1odGRpMGVudmphdDB6dDhjMXJqbnhhdzJrbzh1dWFwOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26tn33aiTi1jkl6H6/giphy.gif");
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* Control the opacity here */
  z-index: -1;
}

.secondSection h1 {
  font-size: 1.9rem;
}

.secondSection .box {
  background: white;

  height: 2px;
  margin: 73px 6px 0;
  display: flex;
  justify-content: center;
}

.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: auto;
}

.image-top {
  width: 52px;
  position: relative;
  top: -57px;
  left: -24px;
}

.vertical-title {
  position: relative;
  top: 39px;
  left: -62px;
  width: 150px;
}
.vertical-desc {
  position: relative;
  top: 49px;
  left: -60px;
  color: gray;
  width: 150px;
  font-size: 0.79rem;
}
/* Footer Section Start Here */


/* footer {
  background-color: #10101d;
} */

/* .footer {
  display: flex;
  padding: 23px 123px;
  justify-content: space-evenly;
}

.footer ul {
  list-style: none;
}

.footer > div {
  width: 223px;
}

footer .footer-rights {
  text-align: center;
  color: gray;
  padding: 12px 0;
} */

/* Footer Section Ends Here */