/* .fifthSection {
  margin: auto;
}

.learnMore {
  display: flex;
  justify-content: center;
  height: auto;
}

.btn-learnMore {
  width: 150px;
  height: 150px;
  background: linear-gradient(135deg, #00c6ff, #0072ff, #ff6a95);
  border-radius: 63% 37% 37% 63% / 44% 37% 63% 54%;
  font-size: 1.5rem;
  font-family: cursive;
  color: cornsilk;
} */
